<h1>Bilan</h1>

<p>TODO: Faire un tableau à 3 colonnes: J'ai déjà rentré les trucs de la première colonne. La 2e colonne sont les chiffres. La 3 colons sont les totals pour chaque h3 et h2.</p>

<h2>ACTIF</h2>

<h3>COURT TERME</h3>

ENCAISSE<br>
COMPTES CLIENTS<br>
FRAIS DÉMARRAGE ET DÉPÔTS<br>
INVENTAIRES<br>

<hr>

<h3>IMMOBILISATIONS</h3>

TERRAIN<br>
BÂTIMENT<br>
MOBILIER ET ÉQUIP.<br>
SYSTÈME ET ÉQUIP.<br>
SYSTÈME INFORMATIQUE<br>
LOGICIEL<br>
ÉQUIP. ET MOBILIER<br>
FRAIS DE CONSTITUTION<br>
ARMOT. CUM.<br>

<hr>
<hr>

<h2>PASSIF</h2>

<h3>COURT TERME</h3>

COMPTES FOURNISSEURS<br>
MARGE DE CRÉDIT<br>
IMPÔTS ET DAS À PAYER<br>

<hr>

<h3>LONG TERME</h3>

EMPRUNT PPE<br>

<hr>
<hr>

<h2>CAPITAUX</h2>

CAPITAL-ACTION<br>
BÉNÉFICE NET DE L'ENTREPRISE<br>

<hr>
<hr>
