<div style="width: 70%; margin: auto;">
  <h1>Journal de bord</h1>
  
  <p>Commandes en attentes</p>
  <p>Items à acheter</p>
  <p>Tâches à effectuer (DAS, ...)</p>
  <p>Direction générale (TODO: Afficher le fichier direction générale)</p>
  <p></p>
</div>
