<h1>Journal de bord</h1>

<p>Tâches à effectuer (DAS, ...)</p>
<p>Direction générale (TODO: Afficher le fichier direction générale)</p>
<p></p>

<h2>Items en attente de livraison</h2>

<%= render partial: "purchases/waiting_purchases" %>
