<table class="table table-striped table-sm">
  <tbody>
    <% (parts || []).each do |part| %>
      <tr>
        <%= render partial: "parts/part", locals: {part: part} %>
      </tr>
    <% end %>
  </tbody>
</table>
