<h1>Fournisseurs</h1>

<ul>
<% Supplier.all.each do |supplier| %>
  <li><%= link_to supplier.name, supplier %></li>
<% end %>
</ul>

<%= form_with(model: Supplier.new) do |form| %>
  <%= form.text_field :name %>
  <%= form.submit "Ajouter un fournisseur" %>
<% end %>
